<h1>Edit Paper</h1>

<% if @paper.errors.any? %>
	<% papers.errors.full_messages.each do |message| %>
		<%= message %>
	<% end %>
<% end %>

<%= form_for @paper do |f| %>
	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :venue %><br>
		<%= f.text_field :venue %>
	</p>
	<p>
		<%= f.label :year %><br>
		<%= f.number_field :year %>
	</p>

	<% for i in 1..5 do %>
		<p>
			<%= f.label 'Author ' + i.to_s, for: 'paper_author_id_' + i.to_s %>
			<% selected = @paper.authors[i - 1] ? i : 0 %>
			<%= f.collection_select :author_ids,
									Author.all,
									:id,
									:name,
									{selected: selected, include_blank: 'none'},
									{name: "paper[author_ids][]", id: "paper_author_id_" + i.to_s} %>
		</p>
	<% end %>

	<p>
		<%= f.submit %>
	</p>
<% end %>

<%= link_to("Back", papers_path) %>