<h1>Papers</h1>
<table>
	<tr>
		<th>ID</th>
		<th>Title</th>
		<th>Venue</th>
		<th>Year</th>
		<th>Show</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	<% @papers.each do |paper| %>
		<tr>
			<td id='id'><%= paper.id %></td>
			<td id='title'><%= paper.title %></td>
			<td id='venue'><%= paper.venue %></td>
			<td id='year'><%= paper.year %></td>
			<td id='paper_details'><%= link_to("Show", paper_path(paper)) %></td>
			<td id='edit_paper_details'><%= link_to("Edit", edit_paper_path(paper)) %></td>
			<td id='delete_paper_details'><%= 	link_to("Destroy", paper_path(paper),
												method: :delete,
												data: {confirm: 'Are you sure?' }) %></td>
		</tr>
	<% end %>
</table>
<%= link_to("Add paper", new_paper_path) %>